@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --foreground: #020202;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #020202;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground);
}

.display-flex {
  @apply flex justify-center items-center;
}

.header-link {
  position: relative;
}

.header-link::after {
  content: "";
  left: 0;
  width: 50%;
  bottom: -3px;
  position: absolute;
  border-radius: 100px;
  border-bottom: 3px solid theme("colors.primary.400");
}

.slider-arrow {
  opacity: 0;
}

.slider:hover .slider-arrow {
  opacity: 1;
}
