@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --foreground: #020202;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #020202;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground);
  background-color: #f6f6f6;
}

.display-flex {
  @apply flex justify-center items-center;
}

.header-link {
  position: relative;
}

.header-link::after {
  content: "";
  left: 0;
  width: 0;
  bottom: -3px;
  position: absolute;
  border-radius: 100px;
  border-bottom: 3px solid theme("colors.primary.dark");
  transform-origin: left;
  transition: width 0.25s;
}

.slider-arrow {
  opacity: 0;
}

.slider:hover .slider-arrow {
  opacity: 1;
}

.number-input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkbox-input-tick {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: 0.5s all;
}

.checkbox-input:checked + label svg g path {
  stroke-dashoffset: 0;
}

.no-tap-highlight {
  -webkit-tap-highlight-color: transparent; /* Disable tap highlight on iOS */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Disable tap highlight on Android (and newer versions of iOS) */
  tap-highlight-color: rgba(0, 0, 0, 0); /* Disable tap highlight on modern browsers */
}

@media (max-width: 480px) {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
